@use 'var' as *;


.main-nav {
  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin-right: 42px;
  }

  &__link {
    color: $dark;
    text-decoration: none;
      &:hover {
        color: $brown;
        text-decoration: underline;
        transition: 0.4s;
      }
  }
}